* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: aquamarine;
}

h1 {
    text-align: center;
    padding: 100px 0px;
}

#drop-area {
    background-color: white;
    padding: 30px;
    width: 500px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    border: 3px solid silver;
    padding: 50px;
    border-style: dashed;
    color: grey;
    cursor: pointer;
}

#drag-area.drag-over {
    background-color: silver !important;
}

#preview-container {
    text-align: center;
}

.file {
    position: relative;
    display: inline-block;
}

.preview-image {
    object-fit: cover;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid #ddd;
  }

  .remove-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
